<header>
  <nav>
    <a href="/">User Login</a>
    <ul>
      <li><a href="/order-scan">Order Scan</a></li>
      <li><a href="/order-scan/new">New Order</a></li>
      <li><a href="/order-scan/finish">Finish Order</a></li>
      <li><a href="/order-scan/verification">Verification</a></li>
      <li><a href="/orders-log">Orders Log</a></li>
    </ul>
  </nav>
</header>