This page will be the initial login page. <br>
The barcode will contain a simple string called position (employee/verification/admin) <br>
This information will be auto-completed by the scan <br>
The employee's status will be used as a query to determine his level of access in the website

<form method="POST"  action="/check-name">
  <input type="text" name="id" placeholder="Enter an id">
  <button type="submit">Access</button>
</form>