<br> <br> <br>

SCANATI CODUL DE BARE COMANDA 😡

<br> <br> <br>

Codul de bare va fi format din +6 cifre, unic pentru fiecare comanda<br>
Cautam proprietatea status a comenzii in Mongo. Daca e NULL, dam redirect la /new si confirmam preluarea unei comenzi noi. <br>
Daca nu e NULL, dam query la status si in functie de asta deschidem /finish sau /verification

<br> <br> <br>

<form method="POST" action="/order-scan/check-order?id=<%= id %>">
  <input type="text" name="id" placeholder="Scanati / introduceti manual nr comanda">
  <button type="submit">Scan</button>
</form>

<br> <br> <br> <br>