This will be the page for confirming new order is in production
It will be structured as a form, since that is the only way (from what I've heard) to send (POST) data to 
the orders-log page

<form action="../orders-log" method="POST">



  <a href="./">Cancel</a>
  <button type="submit">Confirm</button>

</form>